{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">    
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
  {% if False %}
	  <h2>Recover password</h2>
	  <form action="{{ url_for('recover') }}" method=post>
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">    
	    <dl>
	      <dt>Username:
	      <dd><input type=text name=username>
	      <dt>Email:
	      <dd><input type=text name=email>
	      <dd><input type=submit value=Recover>
	    </dl>
	  </form>
  {% endif %}
  <h2>Signup</h2>
  <form action="{{ url_for('signup') }}" method=post>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">    
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Email:
      <dd><input type=text name=email>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Repeat password:
      <dd><input type=password name=password2>
      <dd><input type=submit value=Signup>
    </dl>
  </form>
{% endblock %}