{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <h3>Getting round Google</h3>
  <p><a href="javascript: (function() {alert(listCookies()); function listCookies() { var theCookies = document.cookie.split(';'); var aString = ''; for (var i = 1 ; i <= theCookies.length; i++) { if (theCookies[i-1].indexOf('GOOGLE_ABUSE_EXEMPTION') > -1) { aString += theCookies[i-1].replace('GOOGLE_ABUSE_EXEMPTION=', '');} } return aString;}})()
  ">Get Cookie</a> (drag link to the bookmark bar)</p>
  <p>After being redirected after a CAPTCHA page, click the "Get Cookie" bookmark (while still on the Google search results page), then copy the cookie value with Ctrl-C or Cmd-C from the message box that pops up (works on Chrome, not on Firefox, untested elsewhere).</p>
  <p>Then return here and paste the cookie value into the cookie field of the advanced settings below.</p>
    <form action="{{ url_for('make_query') }}" method=post class=make-query>
      <dl>
        <h3>Basic settings</h3>
        <dt>Query:
        <dd><input type=text size=30 name=query>
        <dt>Fetch:
        <dd><input type=text size=3 name=depth> pages of news results
        <br>
        <dt><h4>Advanced settings</h4>
        <dt>Minimum line length (number of words):
        <dd><input type=int size=3 name=minlength>
        <dt>Cookie:
        <dd><input type=text size=30 name=cookie>
        <br>
        <br>
        <dd><input type=submit value="Yank that news tooth!">
      </dl>
    </form>
    <h3>Dental history</h3>
    <ul class=queries>
    {% for query in queries %}
      <li><a href="/teeth/{{ query.link }}">{{ query.query }}</a> 
      <a href="/stats/{{ query.link }}">(statistics)</a> 
      {{ query.timestr }}, {{ query.depth }} pages deep 
    {% else %}
      <li><em>No previous appointments</em>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}