{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('make_query') }}" method=post class=make-query>
      <dl>
        <h3>Basic settings</h3>
        <dt>Query:
        <dd><input type=text size=30 name=query>
        <dt>Fetch:
        <dd><input type=text size=3 name=depth> pages of news results
        <br>
        <h4>Hygienist settings</h4>
        <dt>Minimum line length (number of words):
        <dd><input type=int size=3 name=minlength>
        <dt>Stop words (comma-separated):
        <dd><input type=text size=30 name=stopwords>
        <br>
        <h3>Operation</h3>
        <dd><input type=submit value="Yank that news tooth!">
      </dl>
    </form>
  {% endif %}
  <h3>Previous extractions</h3>
  <ul class=queries>
  {% for query in queries %}
    <li>{{ query.timestr }} : <a href="/teeth/{{ query.link }}">{{ query.query }}</a>: {{ query.depth }} pages deep 
  {% else %}
    <li><em>No previous appointments</em>
  {% endfor %}
  </ul>
{% endblock %}